.color-logo-no-background-1 {
    height: 55px;
    width: 235px;
    position: relative;
    object-fit: cover;
  }
  .features,
  .home,
  .reviews {
    height: 42px;
    position: relative;
    display: inline-block;
  }
  .features,
  .reviews {
    height: 41px;
  }
  .reviews {
    height: 38px;
    flex-shrink: 0;
  }
  .weekly-monthly-yearly-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-9xs);
  }
  .signin {
    height: 36px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .start-writing-today-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-6xs);
  }
  .check-icon-frame-child {
    height: 42px;
    width: 136px;
    position: relative;
    border-radius: var(--br-smi);
    display: none;
  }
  .start-free-trial {
    height: 29px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    z-index: 1;
  }
  .check-icon-frame {
    border-radius: var(--br-smi);
    background-color: var(--color-darkturquoise);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px 0 var(--padding-10xs) var(--padding-6xs);
    white-space: nowrap;
  }
  .privacy-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-6xs);
    font-size: var(--font-size-lg);
    color: var(--color-white);
  }
  .imageedit-photoroom-frame,
  .signin-frame {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .imageedit-photoroom-frame {
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 27px;
  }
  .signin-frame {
    align-self: stretch;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-7xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .we-will-never-sell-your-data-f-child {
    width: 1466px;
    height: 615px;
    position: relative;
    border-radius: var(--br-14xl);
    background-color: var(--color-turquoise);
    display: none;
    max-width: 100%;
    z-index: 0;
  }
  .imageedit-5-7240515108-photoro-icon {
    width: 771px;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--br-14xl);
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .the-journal {
    margin: 0;
    height: 97px;
    width: 570px;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 2;
  }
  .divider-frame {
    width: 620px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 100%;
  }
  .that-talks-back,
  .the-ai-powered-journal {
    align-self: stretch;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 2;
  }
  .that-talks-back {
    margin: 0;
    height: 98px;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .the-ai-powered-journal {
    height: 61px;
  }
  .health-and-personal {
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 3;
  }
  .a-i-journal-frame,
  .a-i-journal-frame-wrapper {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .a-i-journal-frame {
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
  .a-i-journal-frame-wrapper {
    width: 644px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-3xl) 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-19xl);
  }
  .benefits-of-journaling-frame {
    width: 744px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px 0;
    max-width: 100%;
  }
  .all-you-have-to-do-is-write-child {
    height: 86px;
    width: 254px;
    position: relative;
    border-radius: var(--br-2xl);
    background-color: var(--color-white);
    display: none;
  }
  .try-free {
    position: relative;
    font-size: 51px;
    font-family: var(--font-inter);
    color: var(--color-darkturquoise);
    text-align: left;
    z-index: 3;
  }
  .all-you-have-to-do-is-write {
    cursor: pointer;
    border: 0;
    padding: 13px;
    background-color: var(--color-white);
    flex: 1;
    border-radius: var(--br-2xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    z-index: 2;
  }
  .all-you-have-to-do-is-write:hover {
    background-color: #e6e6e6;
  }
  .start-writing-button,
  .we-will-never-sell-your-data-f {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .start-writing-button {
    width: 274px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-xl) 0 0;
  }
  .we-will-never-sell-your-data-f {
    align-self: stretch;
    border-radius: var(--br-14xl);
    background-color: var(--color-turquoise);
    flex-direction: column;
    align-items: center;
    padding: 57px var(--padding-xl) var(--padding-18xl) 46px;
    position: relative;
    gap: 46px 0;
    max-width: 100%;
  }
  .home-features-frame,
  .reviews-frame {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .reviews-frame {
    width: 1466px;
    flex-direction: column;
    gap: 56px 0;
  }
  .home-features-frame {
    align-self: stretch;
    flex-direction: row;
  }
  .journaling-is-a,
  .start-your-journey {
    position: relative;
    display: inline-block;
  }
  .start-your-journey {
    height: 54px;
    flex-shrink: 0;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    max-width: 100%;
  }
  .journaling-is-a {
    width: 1098px;
    font-size: var(--font-size-10xl);
    font-weight: 500;
    color: var(--color-dimgray-100);
  }
  .people-report-happier-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 70px 0;
    max-width: 100%;
  }
  .perspective {
    position: relative;
    font-size: var(--font-size-10xl);
    color: var(--color-dimgray-100);
    z-index: 1;
  }
  .divider-line,
  .start-writing-today-frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
  }
  .divider-line {
    width: 1165px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 var(--padding-14xl) 0;
    box-sizing: border-box;
    font-size: 56px;
    color: var(--color-black);
  }
  .start-writing {
    height: 24px;
    flex: 1;
    position: relative;
    line-height: 16.81px;
    font-weight: 500;
    display: inline-block;
    max-width: 100%;
  }
  .only-you-can-read-your-journal {
    width: 351px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 48px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .all-you-have,
  .journal-about-how {
    position: relative;
    line-height: 16.81px;
    font-weight: 500;
    display: inline-block;
    max-width: 100%;
  }
  .all-you-have {
    width: 829px;
    font-size: var(--font-size-11xl);
    color: var(--color-dimgray-100);
  }
  .journal-about-how {
    height: 36px;
    flex: 1;
  }
  .start-your-free-journal-now {
    width: 784px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-2xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .keep-it-going {
    height: 25px;
    position: relative;
    font-weight: 500;
    display: inline-block;
  }
  .no-sell-data-icon-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-2xl);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-31xl);
    color: var(--color-black);
  }
  .links-to-your,
  .reflect-and-grow,
  .the-more-you {
    width: 773px;
    height: 90px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
  }
  .links-to-your,
  .reflect-and-grow {
    width: 470px;
    height: 50px;
  }
  .links-to-your {
    height: 60px;
    width: 815px;
  }
  .benefits-of-journaling-text,
  .journal-entry,
  .notifications-frame {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .notifications-frame {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 2px;
    box-sizing: border-box;
    font-size: var(--font-size-11xl);
    color: var(--color-dimgray-100);
  }
  .benefits-of-journaling-text,
  .journal-entry {
    flex-direction: column;
  }
  .journal-entry {
    align-self: stretch;
    gap: 70px 0;
    font-size: var(--font-size-31xl);
    color: var(--color-black);
  }
  .benefits-of-journaling-text {
    flex: 1;
    gap: 49px 0;
    min-width: 531px;
  }
  .e4fb65e-1-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .e4fb65e-1-wrapper,
  .start-writing-today-and-change {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .e4fb65e-1-wrapper {
    height: 430px;
    width: 744px;
    flex-direction: column;
    padding: var(--padding-lg) 0 0;
    min-width: 744px;
  }
  .start-writing-today-and-change {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 47px;
    row-gap: 20px;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-dimgray-100);
    font-family: var(--font-inter);
  }
  .bdf975b9983cf20cc7331c-divider-icon {
    height: 16px;
    width: 1057px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    max-width: 100%;
  }
  .privacy-frame1 {
    width: 1161px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 29px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .how-it-works {
    align-self: stretch;
    position: relative;
  }
  .how-it-works-wrapper {
    width: 485px;
    height: 109px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-45xl) 0;
    box-sizing: border-box;
    max-width: 100%;
    font-size: 55px;
    color: var(--color-darkturquoise);
  }
  .instead-of-wondering {
    height: 189px;
    width: 962px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
  }
  .lock-icon {
    width: 1212px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .notenexus-empowers-you,
  .unique-grid-format {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .unique-grid-format {
    height: 48px;
    max-width: 100%;
  }
  .notenexus-empowers-you {
    width: 900px;
    height: 72px;
    font-size: var(--font-size-13xl);
    font-weight: 500;
    color: var(--color-dimgray-100);
  }
  .change-life-frame,
  .weekly-monthly-yearly-header-f {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .weekly-monthly-yearly-header-f {
    align-self: stretch;
    gap: 104px 0;
  }
  .change-life-frame {
    flex: 1;
    padding: 28px 0 0;
    box-sizing: border-box;
    min-width: 585px;
  }
  .ebd3379-1-icon {
    height: 600px;
    width: 470px;
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
  .start-writing-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 49px;
    max-width: 100%;
    font-size: var(--font-size-31xl);
    color: var(--color-black);
  }
  .checkmark-icon,
  .nope-icon {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .nope-icon {
    width: 1419px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 72px 0;
  }
  .checkmark-icon {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0 60px;
    box-sizing: border-box;
    font-size: 31px;
    color: var(--color-dimgray-100);
  }
  .bccfc08-1-icon {
    height: 556px;
    width: 332px;
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
  .guided-writing {
    align-self: stretch;
    position: relative;
  }
  .start-writing-today-and-change1 {
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 14px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .no-more-writers {
    width: 876px;
    height: 106px;
    position: relative;
    font-size: var(--font-size-13xl);
    font-weight: 500;
    color: var(--color-dimgray-100);
    display: inline-block;
    flex-shrink: 0;
  }
  .divider-child,
  .weekly-monthly-yearly-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .divider-child {
    gap: 104px 0;
  }
  .weekly-monthly-yearly-parent {
    padding: 92px 0 0;
    box-sizing: border-box;
    min-width: 876px;
  }
  .color-logo-no-bg-parent,
  .image-edit-photoroom-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .image-edit-photoroom-parent {
    width: 1426px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .color-logo-no-bg-parent {
    align-self: stretch;
    justify-content: flex-start;
  }
  .more-than-just,
  .notenexus-combines-weekly {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .more-than-just {
    height: 48px;
    max-width: 100%;
  }
  .notenexus-combines-weekly {
    width: 802px;
    height: 106px;
    font-size: var(--font-size-13xl);
    font-weight: 500;
    color: var(--color-dimgray-100);
  }
  .divider-before-start-child,
  .happier-and-benefits-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .happier-and-benefits-child {
    align-self: stretch;
    gap: 104px 0;
  }
  .divider-before-start-child {
    flex: 1;
    padding: 42px 0 0;
    box-sizing: border-box;
    min-width: 521px;
  }
  .b9e6dc-1-icon {
    height: 600px;
    width: 470px;
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
  .more-than-just-a-diary-child {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 98px;
    max-width: 100%;
  }
  .bdf975b9983cf20cc7331c-divider-icon1 {
    align-self: stretch;
    height: 16px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .change-your-life,
  .start-writing-today1 {
    margin: 0;
    height: 76px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
  }
  .start-writing-today1 {
    align-self: stretch;
  }
  .change-your-life {
    max-width: 100%;
  }
  .start-writing-today {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 44px 0;
  }
  .divider,
  .monthly-prompt,
  .start-writing-today {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .divider {
    width: 895px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 27px 0 0;
    box-sizing: border-box;
  }
  .monthly-prompt {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 83px 0;
  }
  .weekly-prompt {
    width: 1215px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 79px;
    box-sizing: border-box;
    font-size: var(--font-size-61xl);
  }
  .encrypted-data-parent,
  .start-writing-now-child,
  .weekly-prompt {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .start-writing-now-child {
    width: 1370px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 53px 0;
  }
  .encrypted-data-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
  }
  .people-who-keep {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .benefits-of-journaling2 {
    text-decoration: underline;
  }
  .benefits-of-journaling1 {
    color: inherit;
  }
  .the-benefits-of-journaling {
    margin: 0;
  }
  .the-benefits-of-journaling-container {
    width: 435px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    max-width: 100%;
  }
  .journal-benefits {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 29px 0;
    max-width: 100%;
  }
  .privacy-child {
    height: 122px;
    width: 676px;
    position: relative;
    border-radius: var(--br-mini);
    background-color: var(--color-darkturquoise);
    display: none;
    max-width: 100%;
  }
  .start-your-free {
    height: 60px;
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .benefits-of-journaling,
  .privacy {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
  }
  .privacy {
    width: 676px;
    border-radius: var(--br-mini);
    background-color: var(--color-darkturquoise);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-12xl);
    font-size: 43px;
    color: var(--color-white);
  }
  .benefits-of-journaling {
    width: 1295px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 var(--padding-lg);
    gap: 84px 0;
    font-size: var(--font-size-15xl);
    color: var(--color-dimgray-100);
  }
  .bdf975b9983cf20cc7331c-divider-icon2 {
    height: 16px;
    width: 1057px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    max-width: 100%;
  }
  .encrypted-data {
    width: 1295px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .readable-by-you-only-child,
  .we-will-never-sell-your-data-c {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .we-will-never-sell-your-data-c {
    flex: 1;
    flex-direction: column;
    gap: 86px 0;
  }
  .readable-by-you-only-child {
    width: 1427px;
    flex-direction: row;
    padding: 0 var(--padding-10xs) 51px 0;
    box-sizing: border-box;
  }
  .bf7033e1daccd7e9847b69-image-p-icon {
    height: 350px;
    width: 462px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    max-width: 100%;
  }
  .for-your-eyes,
  .our-commitment-to {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .for-your-eyes {
    height: 48px;
    max-width: 100%;
  }
  .our-commitment-to {
    width: 652px;
    height: 66px;
    font-size: var(--font-size-10xl);
    color: var(--color-dimgray-100);
  }
  .access-control {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 31px 0;
    max-width: 100%;
  }
  .bf6bc5d7f653ad3e298480-icon-ch {
    height: 21px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .only-you-can {
    height: 25px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .frame-guided-writing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-9xs);
    box-sizing: border-box;
    max-width: calc(100% - 63px);
  }
  .howitworks,
  .we-will-not-sell {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 39px;
    max-width: 100%;
    font-size: var(--font-size-10xl);
    color: var(--color-dimgray-200);
  }
  .we-will-not-sell {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px 0;
    font-size: var(--font-size-31xl);
    color: var(--color-black);
  }
  .bf6c43d77eaf1e7209153c-icon-no {
    height: 22px;
    width: 22px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .we-will-never {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: calc(100% - 63px);
  }
  .imageprivacy {
    width: 461px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 41px;
    max-width: 100%;
  }
  .bf6c57426a9aac9ccf1aa6-icon-lo {
    height: 29px;
    width: 22px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .your-data-is {
    height: 30px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .startwritingtoday {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 11px;
    box-sizing: border-box;
    max-width: calc(100% - 59px);
  }
  .yourdataisencrypted {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 37px;
    max-width: 100%;
  }
  .data-security,
  .for-your-eyes-only,
  .iconnope {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .iconnope {
    flex-direction: row;
    padding: 0 var(--padding-9xs);
    box-sizing: border-box;
  }
  .data-security,
  .for-your-eyes-only {
    flex-direction: column;
  }
  .data-security {
    align-self: stretch;
    gap: 35px 0;
  }
  .for-your-eyes-only {
    width: 652px;
    padding: 0 0 17px;
    box-sizing: border-box;
    min-width: 652px;
  }
  .happy-journalers {
    width: 1272px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .image-edit-frame,
  .start-writing-and-change {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .start-writing-and-change {
    width: 1427px;
    flex-direction: row;
    align-items: flex-start;
    font-size: var(--font-size-10xl);
    color: var(--color-dimgray-200);
  }
  .image-edit-frame {
    width: 1519px;
    flex-direction: column;
    align-items: center;
    gap: 40px 0;
  }
  .checkmark-icon-frame,
  .image-edit-frame-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 1px 0 41px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-31xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .checkmark-icon-frame {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 81px;
    gap: 22px 0;
  }
  .bdf975b9983cf20cc7331c-divider-icon3 {
    height: 16px;
    width: 1057px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    max-width: 100%;
  }
  .benefitsofjournaling {
    width: 1149px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .macbook-pro-16-1 {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 85px 38px 497px 129px;
    box-sizing: border-box;
    gap: 104px 0;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-82xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 1450px) {
    .e4fb65e-1-icon {
      align-self: stretch;
      width: auto;
    }
    .e4fb65e-1-wrapper {
      flex: 1;
    }
    .start-writing-today-and-change {
      flex-wrap: wrap;
    }
    .ebd3379-1-icon {
      flex: 1;
    }
    .start-writing-frame {
      flex-wrap: wrap;
    }
    .bccfc08-1-icon,
    .weekly-monthly-yearly-parent {
      flex: 1;
    }
    .image-edit-photoroom-parent {
      flex-wrap: wrap;
    }
    .b9e6dc-1-icon {
      flex: 1;
    }
    .more-than-just-a-diary-child {
      flex-wrap: wrap;
    }
    .weekly-prompt {
      padding-left: var(--padding-20xl);
      padding-right: var(--padding-20xl);
      box-sizing: border-box;
    }
    .readable-by-you-only-child {
      padding-bottom: var(--padding-14xl);
      box-sizing: border-box;
    }
    .bf7033e1daccd7e9847b69-image-p-icon,
    .for-your-eyes-only {
      flex: 1;
    }
    .happy-journalers {
      flex-wrap: wrap;
    }
    .checkmark-icon-frame {
      padding-bottom: 34px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1200px) {
    .people-report-happier-text {
      gap: 70px 0;
    }
    .e4fb65e-1-wrapper {
      min-width: 100%;
    }
    .weekly-monthly-yearly-header-f {
      gap: 104px 0;
    }
    .change-life-frame {
      min-width: 100%;
    }
    .checkmark-icon {
      padding-bottom: var(--padding-20xl);
      box-sizing: border-box;
    }
    .divider-child {
      gap: 104px 0;
    }
    .weekly-monthly-yearly-parent {
      min-width: 100%;
    }
    .monthly-prompt {
      gap: 83px 0;
    }
    .for-your-eyes-only {
      min-width: 100%;
    }
    .checkmark-icon-frame {
      padding-bottom: var(--padding-3xl);
      box-sizing: border-box;
    }
    .macbook-pro-16-1 {
      gap: 104px 0;
      padding-left: var(--padding-45xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 825px) {
    .that-talks-back,
    .the-journal {
      font-size: var(--font-size-31xl);
    }
    .health-and-personal,
    .the-ai-powered-journal {
      font-size: var(--font-size-11xl);
    }
    .benefits-of-journaling-frame {
      gap: 40px 0;
    }
    .we-will-never-sell-your-data-f {
      padding-left: 23px;
      padding-top: var(--padding-18xl);
      padding-bottom: 24px;
      box-sizing: border-box;
    }
    .reviews-frame {
      gap: 56px 0;
    }
    .start-your-journey {
      font-size: 45px;
    }
    .people-report-happier-text {
      gap: 70px 0;
    }
    .start-writing {
      font-size: var(--font-size-21xl);
      line-height: 13px;
    }
    .all-you-have,
    .journal-about-how {
      font-size: var(--font-size-5xl);
      line-height: 13px;
    }
    .keep-it-going {
      font-size: var(--font-size-21xl);
    }
    .the-more-you {
      font-size: var(--font-size-5xl);
    }
    .reflect-and-grow {
      font-size: var(--font-size-21xl);
    }
    .links-to-your {
      font-size: var(--font-size-5xl);
    }
    .journal-entry {
      gap: 70px 0;
    }
    .benefits-of-journaling-text {
      min-width: 100%;
    }
    .start-writing-today-and-change {
      padding-bottom: var(--padding-12xl);
      box-sizing: border-box;
    }
    .how-it-works {
      font-size: 44px;
    }
    .instead-of-wondering {
      font-size: 25px;
    }
    .unique-grid-format {
      font-size: var(--font-size-21xl);
    }
    .notenexus-empowers-you {
      font-size: var(--font-size-7xl);
    }
    .start-writing-frame {
      gap: 0 49px;
    }
    .nope-icon {
      gap: 72px 0;
    }
    .guided-writing {
      font-size: var(--font-size-21xl);
    }
    .no-more-writers {
      font-size: var(--font-size-7xl);
    }
    .more-than-just {
      font-size: var(--font-size-21xl);
    }
    .notenexus-combines-weekly {
      font-size: var(--font-size-7xl);
    }
    .happier-and-benefits-child {
      gap: 104px 0;
    }
    .divider-before-start-child {
      min-width: 100%;
    }
    .more-than-just-a-diary-child {
      gap: 0 98px;
    }
    .change-your-life,
    .start-writing-today1 {
      font-size: var(--font-size-21xl);
    }
    .monthly-prompt {
      gap: 83px 0;
    }
    .start-writing-now-child {
      gap: 53px 0;
    }
    .people-who-keep,
    .the-benefits-of-journaling-container {
      font-size: var(--font-size-8xl);
    }
    .start-your-free {
      font-size: var(--font-size-15xl);
    }
    .benefits-of-journaling {
      gap: 84px 0;
    }
    .we-will-never-sell-your-data-c {
      gap: 86px 0;
    }
    .readable-by-you-only-child {
      padding-bottom: var(--padding-2xl);
      box-sizing: border-box;
    }
    .for-your-eyes {
      font-size: var(--font-size-21xl);
    }
    .access-control {
      gap: 31px 0;
    }
    .howitworks {
      gap: 0 39px;
    }
    .we-will-not-sell {
      gap: 38px 0;
    }
    .data-security {
      gap: 35px 0;
    }
    .image-edit-frame {
      gap: 40px 0;
    }
    .checkmark-icon-frame {
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .that-talks-back,
    .the-journal {
      font-size: var(--font-size-11xl);
    }
    .health-and-personal,
    .the-ai-powered-journal {
      font-size: var(--font-size-4xl);
    }
    .we-will-never-sell-your-data-f {
      gap: 46px 0;
    }
    .start-your-journey {
      font-size: var(--font-size-15xl);
    }
    .journaling-is-a,
    .perspective {
      font-size: var(--font-size-4xl);
    }
    .start-writing {
      font-size: var(--font-size-11xl);
      line-height: 10px;
    }
    .all-you-have,
    .journal-about-how {
      font-size: var(--font-size-lg);
      line-height: 10px;
    }
    .keep-it-going {
      font-size: var(--font-size-11xl);
    }
    .the-more-you {
      font-size: var(--font-size-lg);
    }
    .reflect-and-grow {
      font-size: var(--font-size-11xl);
    }
    .links-to-your {
      font-size: var(--font-size-lg);
    }
    .journal-entry {
      gap: 70px 0;
    }
    .benefits-of-journaling-text {
      gap: 49px 0;
    }
    .how-it-works {
      font-size: 33px;
    }
    .instead-of-wondering {
      font-size: var(--font-size-lgi);
    }
    .unique-grid-format {
      font-size: var(--font-size-11xl);
    }
    .notenexus-empowers-you {
      font-size: var(--font-size-lgi);
    }
    .weekly-monthly-yearly-header-f {
      gap: 104px 0;
    }
    .nope-icon {
      gap: 72px 0;
    }
    .checkmark-icon {
      padding-bottom: 25px;
      box-sizing: border-box;
    }
    .guided-writing {
      font-size: var(--font-size-11xl);
    }
    .no-more-writers {
      font-size: var(--font-size-lgi);
    }
    .divider-child {
      gap: 104px 0;
    }
    .more-than-just {
      font-size: var(--font-size-11xl);
    }
    .notenexus-combines-weekly {
      font-size: var(--font-size-lgi);
    }
    .happier-and-benefits-child {
      gap: 104px 0;
    }
    .more-than-just-a-diary-child {
      gap: 0 98px;
    }
    .change-your-life,
    .start-writing-today1 {
      font-size: var(--font-size-5xl);
    }
    .start-writing-today {
      gap: 44px 0;
    }
    .people-who-keep,
    .the-benefits-of-journaling-container {
      font-size: var(--font-size-xl);
    }
    .start-your-free {
      font-size: var(--font-size-7xl);
    }
    .benefits-of-journaling {
      gap: 84px 0;
    }
    .we-will-never-sell-your-data-c {
      gap: 86px 0;
    }
    .readable-by-you-only-child {
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .for-your-eyes {
      font-size: var(--font-size-11xl);
    }
    .only-you-can,
    .our-commitment-to,
    .we-will-never {
      font-size: var(--font-size-4xl);
    }
    .imageprivacy {
      gap: 0 41px;
    }
    .your-data-is {
      font-size: var(--font-size-4xl);
    }
    .yourdataisencrypted {
      gap: 0 37px;
    }
    .macbook-pro-16-1 {
      gap: 104px 0;
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  