html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 625%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  .Desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .Desktop .div {
    background-color: #ffffff;
    width: 1728px;
    height: 925px;
    position: relative;
  }
  
  .Desktop .color-logo-no {
    position: absolute;
    width: 235px;
    height: 55px;
    top: 17px;
    left: -37px;
    object-fit: cover;
  }

  .s{
    position: absolute;
    width: 328px;
    top: 89px;
    left: 703px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .Desktop .text-wrapper {
    position: absolute;
    width: 465px;
    top: 167px;
    left: 608px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .Desktop .text-wrapper-1 {
    position: absolute;
    width: 134px;
    top: 222px;
    left: 608px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .Desktop .field{
      position: absolute;
      width: 465px;
      top: 226px;
      left: 608px;
      font-family: "Inter-Regular", Helvetica;
      font-weight: 400;
      color: #000000;
      font-size: 25px;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap; 
  } 
  .field input{
      border: none;
      font-size: .18rem;
      line-height: 1;
      width: 100%;
      height: 0.3rem;
      padding: 0.08rem 0.08rem 0.16rem;
      -webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.2);
      box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.2);
      -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.22,.44,0,1);
      transition: -webkit-box-shadow .25s cubic-bezier(.22,.44,0,1);
      transition: box-shadow .25s cubic-bezier(.22,.44,0,1);
      transition: box-shadow .25s cubic-bezier(.22,.44,0,1), -webkit-box-shadow .25s cubic-bezier(.22,.44,0,1);
  }

  .Desktop .field-2{
    position: absolute;
    width: 465px;
    top: 282px;
    left: 608px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap; 
} 
.field-2 input{
    border: none;
    font-size: .18rem;
    line-height: 1;
    width: 100%;
    height: 0.3rem;
    padding: 0.08rem 0.08rem 0.16rem;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.2);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.2);
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.22,.44,0,1);
    transition: -webkit-box-shadow .25s cubic-bezier(.22,.44,0,1);
    transition: box-shadow .25s cubic-bezier(.22,.44,0,1);
    transition: box-shadow .25s cubic-bezier(.22,.44,0,1), -webkit-box-shadow .25s cubic-bezier(.22,.44,0,1);
}
.Desktop .field-3{
  position: absolute;
  width: 465px;
  top: 170px;
  left: 608px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap; 
} 
.field-3 input{
  border: none;
  font-size: .18rem;
  line-height: 1;
  width: 100%;
  height: 0.3rem;
  padding: 0.08rem 0.08rem 0.16rem;
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.2);
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.2);
  -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.22,.44,0,1);
  transition: -webkit-box-shadow .25s cubic-bezier(.22,.44,0,1);
  transition: box-shadow .25s cubic-bezier(.22,.44,0,1);
  transition: box-shadow .25s cubic-bezier(.22,.44,0,1), -webkit-box-shadow .25s cubic-bezier(.22,.44,0,1);
}

button{
  border: none;
    width: 477px;
    margin-left: 608px;
    margin-top: 377px;
    background: #00cfc8;
    border-radius: 4px;
    font-weight: 700;
    font-size: .2rem;
    color: #fff;
    height: 0.56rem;
    -webkit-transition: background-color .25s, -webkit-transform .25s;
    transition: background-color .25s, -webkit-transform .25s;
    transition: background-color .25s, transform .25s;
    transition: background-color .25s, transform .25s, -webkit-transform .25s;
}

.Desktop .text-wrapper-3 {
  position: absolute;
  width: 144px;
  top: 256px;
  left: 621px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7d7777;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.Desktop .p {
  position: absolute;
  width: 346px;
  top: 464px;
  left: 714px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 16px;
}

.Desktop .download-1 {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 530px;
  left: 787px;
}


.Desktop .download-2 {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 530px;
  left: 854px;
  object-fit: cover;
}

.Desktop .download-3 {
  position: absolute;
  width: 28px; 
  top: 530px;
  left: 920px;
  object-fit: cover;
}

.Desktop .to-prevent-duplicate {
  position: absolute;
  width: 406px;
  top: 581px;
  left: 677px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #707070;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 16px;
}

.Desktop .i-don-t-have-an {
  position: absolute;
  width: 232px;
  top: 685px;
  left: 735px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #00cfc8;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: underline;
}

.Desktop .text-wrapper-5 {
  position: absolute;
  width: 332px;
  top: 890px;
  left: 695px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #818181;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.Desktop .kisspng-google-logo {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 605px;
  left: 854px;
  object-fit: cover;
}